.sidenav {
    background-color: rgb(218 37 28);
    width: 150px;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    /* padding: 16px; */
    background-color: #212121;
    height: 100%;
}

span {
    position: absolute;
}

.button-opened {
    position: absolute;
    top: 0px;
}