<mat-sidenav-container class="container" style="background-color: #fff;">
    <mat-sidenav class="sidenav" mode="side" opened="true" fixedInViewport="true" fixedTopGap="64">
       
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/inicio">
                <i class="material-icons"> home </i>
                <span>Home</span>
            </a>
            <a mat-list-item routerLink="/palavra"> 
                <i class="material-icons"> add </i>
                <span> Palavras </span>
            </a>
            <a mat-list-item routerLink="/dicionario"> 
                <i class="material-icons"> list </i>
                <span> Dicionário </span>
            </a>
            <a mat-list-item routerLink="/praticar"> 
                <i class="material-icons"> list </i>
                <span> Praticar </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>